﻿﻿@using Task23_Advanced.Helpers
@{
    ViewBag.Title = "Form Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper CreateCheckBoxList(IEnumerable<string> items)
{
    <ul>
        @foreach (var item in items)
        {
        <li>
            <p>@item</p>
            <input type="checkbox" name="@item" value="true" />
            <input type="hidden" name="@item" value="false" />
        </li>
         }
    </ul>
}

@using (Html.BeginForm("Form", "Form", FormMethod.Post, new { @class = "questinary_form" }))
{
    <div class="form_text">
        <p>Name:</p>
        @Html.TextBox("Name", "Enter your name")
    </div>
    <div class="form_text">
        <p>Surname:</p>
        @Html.TextBox("Surname", "Enter your surname")
    </div>
    <div class="form_radio">
        <p>Programming language:</p>
        @Html.CreateRadioList(new List<string> { "C#", "Java", "C++", "Python" }, "ProgrammingLanguage")
    </div>
    <div class="form_checkbox">
        <p>Have expirience?</p>
        @CreateCheckBoxList(new List<string> { "HaveExpirience", "Studying in University" })
    </div>
    <input type="submit" value="Submit" class="submit_button">

}

