﻿﻿@{ ViewBag.Title = "Home Page"; }
<div class="news">
    @foreach (var n in ViewBag.News)
    {
<div class="news_topic">
    <h3>@n.Item1</h3>
    <p>@n.Item2</p>
    <span class="text_date">@n.Item3.ToShortDateString()</span>
</div>}
</div>
